body
  text-align: center
  background: white

button
  margin: 6px

.solved
  line,circle
    pointer-events: none
  line.present
    animation: solved 1s infinite

@keyframes solved
  0%,100%
    stroke: red
  25%
    stroke: yellow
  50%
    stroke: green
  75%
    stroke: blue

svg
  height: 50vh

.hint_rules
  margin: 40px auto
  font-family: sans-serif
  label, input
    cursor: pointer
  label
    text-align: left
